<html>
    <head>
        <title>Miguel Beltrán Sanz</title>

        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <div class='container'>
            <div class='row'>
                <div class='col-sm-7 presentation'>
                    <p>I'm Miguel Beltrán Sanz and I am interested in:</p>
                    <ul>
                        <li>Business Development</li>
                        <li>Programming</li>
                        <li>International Trading</li>
                        <li>Data scraping and big data adapted to buying/selling departments.</li>
                    </ul>
                </div>
                <div class='col-sm-5'></div>
            </div>

            <div class='row find-me'>
                <div class='col-sm-7'>
                    <p>If you want:</p>
                    <ul>
                        <li>to contact me: <a href="mailto:miguelbeltransanz@gmail.com">miguelbeltransanz@gmail.com</a>.</li>
                        <li><a href="https://es.linkedin.com/pub/miguel-beltr%C3%A1n-sanz/74/28b/123" target="_blank">view my education and experience</a>.</li>
                        <li><a href="https://github.com/MiguelBel" target="_blank">view my code</a>.</li>
                    </ul>
                </div>
                <div class='col-sm-5'></div>
                <end>

                <div id="heart" class="tip" data-tip="Ruby + Sinatra powered"></div>
            </div>
        </body>
    </html>
